<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"     
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Sistema de Gesti&oacute;n de Alumnos</title>
    </h:head>

    <h:body>
        <h2>Sistema de Gesti&oacute;n de Alumnos (SGA)</h2>
        
        Bienvenido: <h:outputText value="#{p:userPrincipal()}"/>
        <h:form>
              <p:messages />
        <h:panelGrid columns="1" rendered="#{p:ifGranted('ROLE_ADMIN')||p:ifGranted('ROLE_USER')}">
            <h:commandButton value="Listar Personas" action="listarPersonas" />
        </h:panelGrid>
 </h:form>
    </h:body>
</html>
